<div class="container box-shadow">
  <div class="superior">
    <div class="date-time-container">
      <span class="date">12 de febrero 2025</span>
      <span class="time">7:00 PM</span>
    </div>
    <div class="genre-container">
      <span>ROCK</span>
    </div>
  </div>
  <div class="middle">
    <img
      src="https://cdn2.vectorstock.com/i/1000x1000/53/81/rock-festival-concert-poster-design-with-guitar-vector-23475381.jpg"
      alt="Event image"
    />
  </div>
  <div class="bottom">
    <span class="description">Bon Jovi en concierto, no te lo pierdas</span>
    <span class="place">CC TEATRO LIGAS, LIMA</span>
  </div>
</div>
