<header style="background-color: #292d39; display: flex; justify-content: center; align-items: center; padding: 10px;">
  <div id="logo-container" style="display: flex; align-items: center;">
    <img id="logo" src="assets/images/logo.png" style="width: 50px; height: 50px;">
    <h1 style="color: white; font-family: 'Segoe UI'; font-size: 16px; margin: 0 0 0 10px;">MUSICAL EVENTS</h1>
  </div>
  <app-search-bar style="margin-left: 50px; margin-right: 50px;"></app-search-bar>
  <div id="buttons" style="display: flex; gap: 30px; padding: 20px; justify-content: center;">
    <a href="#" style="color: var(--primary-color);text-decoration: none;">INGRESAR</a>
    <a href="#" style="color: var(--accent-color);text-decoration: none;">REGÍSTRATE</a>
  </div>
</header>