.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  & .title-container {
    display: flex;
    justify-content: center;
    & .title {
      width: 1000px;
      font-weight: 500;
      font-size: 18px;
    }
  }

  & .content-container {
    display: flex;
    justify-content: center;
    align-items: center;

    & .card {
      background-color: var(--secondary-color);
      border-radius: 8px;
      width: 260px;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
      padding-bottom: 20px;
      & .form-title-container {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
        & span {
          color: var(--primary-color);
          font-weight: 500;
          font-size: 16px;
        }
      }
      & form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
      & .forgot-password {
        color: var(--accent-color);
        font-size: 12px;
        & span {
          cursor: pointer;
        }
      }
      & .register {
        color: white;
        font-size: 12px;
        & .text-link {
          color: var(--accent-color);
          cursor: pointer;
        }
      }
    }
  }
}
