<div class="container">
  <h1>VOUCHER</h1>
  @if(sale){
  <div class="content">
    <span class="title">Nro. Operación</span><br />
    <span>{{ sale.operationNumber }}</span>
    <br /><br />
    <span class="title">Cliente</span><br />
    <span>{{ sale.fullName }}</span>
    <br /><br />
    <span class="title">Nro. tickets</span><br />
    <span>{{ sale.quantity }}</span>
    <br /><br />
    <span class="title">Fecha de Pago</span><br />
    <span>{{ sale.saleDate }}</span>
  </div>
  <span class="total">
    Total: <span>S/ {{ sale.total.toFixed(2) }}</span>
  </span>
  }
</div>
