<div class="container">
  <h1>VOUCHER</h1>
  <div class="content">
    <span class="title">Nro. Operación</span> <br />
    <span class="data">123456</span> <br />
    <br />
    <span class="title">Cliente</span> <br />
    <span class="data">Abraham Salazar</span> <br />
    <br />
    <span class="title">Nro. Tickets</span> <br />
    <span class="data">5</span><br />
    <br />
    <span class="title">Fecha de Pago</span><br />
    <span class="data">12/12/2020</span><br />
  </div>
  <span class="total">Total: <span class="value">S/ 25.00</span></span>
</div>
