.container {
  width: 240px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 20px;

  & .concert-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .title {
      color: var(--primary-color);
      text-align: center;
      font-size: 24px;
      line-height: 32px;
    }
    & .price {
      font-size: 18px;
      color: white;
      font-weight: 500;
      & span {
        color: var(--accent-color);
      }
    }
  }
  & form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .total-container {
      font-size: 18px;
      color: white;
      font-weight: 500;

      & .total-value {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }
  & .actions {
    width: 100%;
    & button {
      width: 100%;
    }
    & button:not(:disabled) {
      color: white;
      background-color: var(--accent-color);
    }
  }
}
