<div
  style="
    width: 212px;
    height: 340px;
    background-color: #292d39;
    border-radius: 8px;
  "
  class="box-shadow"
>
  <section style="padding: 12px 20px 8px 20px; color: white; font-size: 12px">
    <div style="margin-bottom: 4px"><span style="color: var(--primary-color);">14 de marzo 2020</span></div>
    <div style="display: flex; justify-content: space-between; font-weight: 500;">
      <span style="color: var(--accent-color);">14:30 PM</span>
      <span>ROCK</span>
    </div>
  </section>
  <section>
    <img
      style="object-fit: cover; height: 180px; width: 100%"
      src="https://i.pinimg.com/1200x/d1/a5/f5/d1a5f5cf0d9bd77fff46849c1cc1da1c.jpg"
      alt=""
    />
  </section>
  <section
    style="
      height: 84px;
      text-align: center;
      color: white;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    "
  >
    <span style="margin-top: 4px; padding: 4px; line-height: 16px;">
      Metallica en concierto, no te lo pierdas.
    </span>
    <span style="font-weight: 500;">ESTADIO NACIONAL - LIMA</span>
  </section>
</div>
