.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  & .title-container {
    display: flex;
    justify-content: center;
    & .title {
      font-weight: 500;
      width: 1000px;
    }
  }
  & .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    & .card {
      background-color: var(--secondary-color);
      border-radius: 8px;
      width: 260px;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 4px;
      & .form-title-container {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
        & span {
          color: var(--primary-color);
          font-weight: 500;
        }
      }
      & form {
        display: flex;
        flex-direction: column;
        align-items: center;
        & mat-form-field {
          width: 210px;
          margin-bottom: 10px;
        }
        & button {
          width: 210px;
        }
        & .login {
          color: white;
          font-size: 12px;
          margin-top: 12px;
          margin-bottom: 20px;
          & .text-link {
            color: var(--accent-color);
            cursor: pointer;
          }
        }
      }
    }
  }
}
