<div class="page-container">
  <app-home-header></app-home-header>

  <div class="content-container">
    <div class="filter">
      <mat-form-field>
        <mat-label>Género</mat-label>
        <mat-select>
          <mat-option value="01">Balada</mat-option>
          <mat-option value="01">Cumbia</mat-option>
          <mat-option value="01">Opera</mat-option>
        </mat-select>
      </mat-form-field>
      <span>Selecciona tu genero musical favorito</span>
    </div>
    <div class="event-list">
      <app-event-card [data]="concertTest"></app-event-card>
      <app-event-card [data]="concertTest"></app-event-card>
      <app-event-card [data]="concertTest"></app-event-card>
      <app-event-card [data]="concertTest"></app-event-card>
      <app-event-card [data]="concertTest"></app-event-card>
      <app-event-card [data]="concertTest"></app-event-card>
      <app-event-card [data]="concertTest"></app-event-card>
      <app-event-card [data]="concertTest"></app-event-card>
    </div>
  </div>

  <app-footer></app-footer>
</div>
