<app-header></app-header>
<div id="container">
  <section id="header">
    <mat-form-field>
      <mat-label>Genero musical</mat-label>
      <mat-select [formControl]="selected">
        <mat-option value="option1">Rock</mat-option>
        <mat-option value="option2">Salsa</mat-option>
        <mat-option value="option3">Balada</mat-option>
      </mat-select>
    </mat-form-field>
    <div id="title">
      <span>Selecciona tu genero musical favorito</span>
    </div>
  </section>
  <section></section>
</div>

<app-footer></app-footer>
