on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar el código fuente
        uses: actions/checkout@v5

      - name: Configurar NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: '22.20.0'

      - name: Instalar las dependencias
        run: npm install

      - name: Construir la aplicación
        run: npm run build

      - name: Desplegar con FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: dist/musical-events/browser/
